# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Else
*.DS_Store
*.hpp
*.xcodeproj

#
*.dSYM
*.plist

#ignore all
algorithm_study/2023/*

#
!algorithm_study/2023/*.cpp
